Source: kalarmcal
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 3.0~),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.35.0~),
               libboost-dev,
               libkf5akonadi-dev (>= 4:17.08~),
               libkf5calendarcore-dev (>= 4:17.08~),
               libkf5holidays-dev (>= 17.08~),
               libkf5identitymanagement-dev (>= 17.08~),
               libkf5kdelibs4support-dev (>= 5.35.0~),
               libkf5pimtextedit-dev (>= 17.08~),
               pkg-kde-tools (>> 0.15.15),
Standards-Version: 4.1.2
Homepage: https://projects.kde.org/projects/kde/pim/kalarmcal
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/applications/kalarmcal.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/applications/kalarmcal.git

Package: libkf5alarmcalendar-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libkf5akonadi-dev (>= 4:15.12~),
         libkf5alarmcalendar5 (= ${binary:Version}),
         libkf5calendarcore-dev (>= 4:15.12~),
         libkf5holidays-dev (>= 15.12~),
         libkf5identitymanagement-dev (>= 15.12~),
         libkf5kdelibs4support-dev (>= 5.35.0~),
         ${misc:Depends},
Description: library for handling kalarm calendar data - development files
 This library provides access to and handling of kalarm calendar data.
 .
 This package contains the development files.

Package: libkf5alarmcalendar5
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: kalarm (<< 4:17.08),
        kdepim-runtime (<< 4:17.08),
        kmail (<< 4:17.08),
        ${kde-l10n:all},
Replaces: ${kde-l10n:all}
Description: library for handling kalarm calendar data
 This library provides access to and handling of kalarm calendar data.
